$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;
$appMainBgColor:#FAFBFC;
$subjectColor:#1faae5;
$subjectColorDisable:#8fd5f2;


//sidebar
$sidebarBgColor:#fff;
$menuBg:#304156;
// $subMenuBg:#1f2d3d;
// $menuHover:#001528;
$subMenuBg:#F8F8F8; // 侧边栏子菜单背景颜色
$menuHover:#DFEDFE; // 侧边栏hover颜色
$isActiveSubmenuTitle:#4DA1FF; // 侧边栏选中的1级文字颜色

// 页面头部选项卡
$contentBgColor:#fff; // 背景色
$activeColor:#4DA1FF; // 选中颜色

// 登录页面颜色配置
$bg:#ffffff;
$dark_gray:#333;
$light_gray:#7528dc;   // 登录标题文字颜色

$loginBtnColor:#A1DBF7;  // 登录按钮（可点击）
$loginBtnDisableColor:#9873d5;  // 登录按钮（禁止点击）
$loginCodeBtnColor:#0084ff;  // 立即验证
$loginCodeBtnHoverColor:#0457f0; // 验证条件
//$bgImg: url('~@/assets/loginImg/loginImg.png'); // 登录背景
//$bgRightImg: url('~@/assets/loginImg/loginRightImg.png'); // 登录页右半部分图片
//$userNameIconImg: url('~@/assets/loginImg/userName.png');
//$passwordIconImg: url('~@/assets/loginImg/password.png');
//$lanIconImg: url('~@/assets/loginImg/lan.png');
$loginRight:42%;  // 登录输入框
$loginTop:16%;  // 登录输入框


